<div class="error-message"></div>
<form action="/api/auth/login" method="POST" id="js-login-form">
    <fieldset name="login-info">
        <legend>Login Info</legend>
        <label for="username">Username</label>
        <input type="text" name="username" id="js-username" required>
        <label for="password">password</label>
        <input type="password" name="password" id="js-password" required><br/>
        <input type="submit">
    </fieldset>
</form>
<script src="js/login.js"></script>

